<section id="add">
  <form action="/" method="post">
    <input type="text" name="url" placeholder="Link URL&hellip;"></text>
    <input type="text" name="description" placeholder="Description (Optional)&hellip;"></text>
    <input type="submit" value="Save!">
  </form>
</section>

<% # display links %>
