body {
    margin: 35px auto;
    width: 640px;
}

header {
    text-align: center;
    margin: 0 0 20px;
}

header h1 {
    display: inline;
    font-size: 32px;
}

header h1 a:link, header h1 a:visited {
    color: #444;
    text-decoration: none;
}

header h2 {
    font-size: 16px;
    font-style: italic;
    color: #999;
}

#main {
    margin: 0 0 20px;
}

#add {
    margin: 0 0 20px;
}

#add input {
    height: 30px;
    width: 150px;
    border: 1px solid #ddd;
    padding: 10px;
    background: white;
}

#add input[type=submit] {
    height: 50px;
    width: 100px;
    border: 1px solid #ddd;
    padding: 0px;
    background: white;
}

#edit input[type=submit] {
    height: 30px;
    width: 150px;
    border: 1px solid #ddd;
    background: white;
}

#edit input[type=checkbox] {
    height: 30px;
    width: 20px;
}

article {
    border: 1px solid #eee;
    border-top: none;
    padding: 15px 10px;
}

article:first-of-type {
    border: 1px solid #eee;
}

article:nth-child(even) {
    background: #fafafa;
}

article.archived {
    background: #fedae3;
}

article span {
    font-size: 0.8em;
}

p {
    margin: 0 0 5px;
}

.meta {
    font-size: 0.8em;
    font-style: italic;
    color: #888;
}

.links {
    font-size: 1.8em;
    line-height: 0.8em;
    float: right;
    margin: -10px 0 0;
}

.links a {
    display: block;
    text-decoration: none;
}

.flash {
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  margin: 0px 0px 20px 0px;
  background:#ddd;
  color:#666;border:1px solid #ccc;
}

.info {
  background:#D9EDF7;
  color:#3A87AD;
  border:1px solid #BCE8F1;
}

.warning {
  background:#FCF8E3;
  color:#C09853;
  border:1px solid #FBEED5;
}

.success {
  background:#DFF0D8;
  color:#468847;
  border:1px solid #D6E9C6;
}

.error {
  background:#F2DEDE;
  color:#B94A48;
  border:1px solid #EED3D7;
}
